.hidden {
	display: none;
}

@font-face {
    font-family: massEffect;
    src: url('me123.woff');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	display: inline;
	float: center;
}

a {
	display: block;
	padding: 8px;
}

body {
	background-image: url("images/webb.png");
	font-family: "massEffect";

	background-size: cover;
	margin: 0 auto;
	max-width: 700px;
	color: white;
	font-size: 18px;
}

p {
	background: rgba( 0, 0, 0, .4);
	padding: 15px;
	line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .2);
  color: #FFF;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: linear-gradient(to bottom right, #000000 0%, #666699 100%);
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0, 0, 0, 1.0);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000080;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(122, 127, 128, 1.0);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #000080;}

.dropdown:hover .dropdown-content {
  display: block;
}

.age {
	color: red;
}

.race {
	font-family: "massEffect";
	text-shadow: 4px 4px #000080;
}

h1 {
	color: white;
	font-family: 'massEffect';
}

h3 {
	color: white;
	font-family: 'massEffect';
	text-shadow: 2px 2px #000000;
}

.darkhilight {
	background-color: rgb(0,8,108);
	border: groove;
	padding: 15px;
}

input[name=submit] {
	background: rgb(0,8,108);
	padding: 20px;
	border: solid;
	border-color: #B1E4FC;
	text-align: center;

}


*html .alignsidebar {
										position:absolute;
										}							

a:link, a:visited {
									color:#FFFFFF;
									text-decoration:none;
									}

a:hover, a:focus {
								 color:#4444FF;
								 text-decoration:none;
								 }

.alignsidebarsub ul {
								 margin:0; padding:0;
								 /*list-style:none;*/
								 }




				 														 
.alignsociety {
							margin-left:15%;
							margin-right:10%;
							}
							
.alignmentchart {
		font-family: "Palatino Linotype", Trebuchet MS, Verdana, sans-serif;
		font-size:small;
		/*font-weight: bold;*/
		}
		
.alignmentchartexp {
		font-family: "Arial", Verdana, sans-serif;
		font-size:10px;
		/*font-weight: bold;*/
		}
		
.expandedalign {
							 width:50px;
							 height:50px;
							 }
							 
.expandedaligne {
							 width:50px;
							 height:50px;
							 color:#FFFFFF;
							 }

.expandedalignn {
							 width:50px;
							 height:50px;
							 color:#808080;
							 }
						 
.majoralign {
						width:90px;
						height:90px;
						}

.minorextremealign {
						width:60px;
						height:60px;
						}
						
.minormoralalign {
						width:60px;
						height:90px;
						}

.minorethicalalign {
						width:90px;
						height:60px;
						}				
						
.charalign {
					 width:175px;
					 height:175px;
					 }

#chartlg {
				 background-color:#D5DCEF;
				 color:black;
				 }
				 
#chartngl {
				 	background-color:#D4CAE2;
				 	color:black;
				 	}

#chartng {
				 background-color:#E9D2E4;
				 color:black;
				 }

#chartngc {
				 	background-color:#FCDBE4;
				 	color:black;
				 	}
				 
#chartcg {
				 background-color:#FCDAD5;
				 color:black;
				 }

#chartlng {
				 background-color:#7C9BCF;
				 color:black;
				 }

#chartnlg {
				 background-color:#826BA9;
				 color:black;
				 }

#chartgn {
				 background-color:#BC7AAC;
				 color:black;
				 }

#chartncg {
				 background-color:#F289AE;
				 color:black;
				 }

#chartcng {
				 background-color:#F0888A;
				 color:black;
				 }

#chartln {
				 background-color:#0469B3;
				 color:yellow;
				 }
				 
#chartnl {
				 background-color:#3D107B;
				 color:yellow;
				 }

#charttn {
				 background-color:#92007B;
				 color:yellow;
				 }

#chartnc {
				 background-color:#E3007B;
				 color:yellow;
				 }

#chartcn {
				 background-color:#E10052;
				 color:yellow;
				 }


#chartlne {
				 background-color:#044476;
				 color:white;
				 }


#chartnle {
				 background-color:#260751;
				 color:white;
				 }

#charten {
				 background-color:#600051;
				 color:white;
				 }

#chartnce {
				 background-color:#990050;
				 color:white;
				 }

#chartcne {
				 background-color:#980034;
				 color:white;
				 }

#chartle {
				 background-color:#01172E;
				 color:white;
				 }

#chartnel {
				 	background-color:#0A011D;
				 	color:white;
				 	}
					
#chartne {
				 background-color:#24001D;
				 color:white;
				 }
				 
#chartnec {
				 	background-color:#3D001C;
				 	color:white;
				 	}
				 
#chartce {
				 background-color:#3D0011;
				 color:white;
				 }

#button {
				background-image: url("images/masseffectt.png");

}

* {
    box-sizing: border-box;
}
